In [3]:
import pandas as pd
import numpy as np

In [7]:
sr = pd.Series([1,2,3,4,5,6], index=['a', 'b', 'c', 'd', 'e', 'f'])

In [8]:
sr

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [9]:
sr['a']

1

In [10]:
sr[0]

1

In [11]:
pd.Series({'a':1, 'b':2})

a    1
b    2
dtype: int64

In [13]:
pd.Series(0, index=['a', 'b', 'c', 'd'])

a    0
b    0
c    0
d    0
dtype: int64

In [14]:
sr

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [15]:
sr.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [16]:
sr.values

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [17]:
sr

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [18]:
sr * 2

a     2
b     4
c     6
d     8
e    10
f    12
dtype: int64

In [19]:
sr[[1,2,4]]

b    2
c    3
e    5
dtype: int64

In [20]:
sr > 4

a    False
b    False
c    False
d    False
e     True
f     True
dtype: bool

In [21]:
sr[sr>4]

e    5
f    6
dtype: int64

In [22]:
sr

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [25]:
2 in sr.values

True

In [28]:
sr1 = pd.Series([11,22,33], index=['a', 'b', 'c'])
sr2 = pd.Series([44,55,66], index=['b', 'a', 'c'])

In [29]:
sr1

a    11
b    22
c    33
dtype: int64

In [30]:
sr2

b    44
a    55
c    66
dtype: int64

In [31]:
sr1 + sr2

a    66
b    66
c    99
dtype: int64

In [32]:
sr1 = pd.Series([11,22,33], index=['a', 'b', 'c'])
sr2 = pd.Series([44,55,66], index=['b', 'a', 'd'])

In [33]:
sr1

a    11
b    22
c    33
dtype: int64

In [34]:
sr2

b    44
a    55
d    66
dtype: int64

In [36]:
sr3 = sr1 + sr2

In [37]:
sr3

a    66.0
b    66.0
c     NaN
d     NaN
dtype: float64

In [38]:
sr3.dropna()

a    66.0
b    66.0
dtype: float64

In [40]:
sr3.fillna(0)

a    66.0
b    66.0
c     0.0
d     0.0
dtype: float64

In [41]:
sr3.isnull()

a    False
b    False
c     True
d     True
dtype: bool

In [45]:
sr3.dropna(inplace=True)

In [46]:
sr3

a    66.0
b    66.0
dtype: float64

## pandas DataFrame的用法

In [152]:
df = pd.DataFrame({'one':[1,2,3,4], 'two':[4,3,2,1]})
df

   one  two
0    1    4
1    2    3
2    3    2
3    4    1

In [158]:
df.sum(axis=1)

0    5
1    5
2    5
3    5
dtype: int64

In [161]:
df.sort_index(ascending=False)

   one  two
3    4    1
2    3    2
1    2    3
0    1    4

In [165]:
df = pd.DataFrame({
    'col1' : ['A', 'A', 'B', np.nan, 'D', 'C'],
    'col2' : [2, 1, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, 3],
})
df

  col1  col2  col3
0    A     2     0
1    A     1     1
2    B     9     9
3  NaN     8     4
4    D     7     2
5    C     4     3

In [167]:
df.sort_values(by=['col1', 'col2'])

  col1  col2  col3
1    A     1     1
0    A     2     0
2    B     9     9
5    C     4     3
4    D     7     2
3  NaN     8     4

In [91]:
df = pd.DataFrame([[1,2,3,4], [4,3,2,1]])
df

   0  1  2  3
0  1  2  3  4
1  4  3  2  1

In [90]:
df.describe()

             0         1         2        3
count  2.00000  2.000000  2.000000  2.00000
mean   2.50000  2.500000  2.500000  2.50000
std    2.12132  0.707107  0.707107  2.12132
min    1.00000  2.000000  2.000000  1.00000
25%    1.75000  2.250000  2.250000  1.75000
50%    2.50000  2.500000  2.500000  2.50000
75%    3.25000  2.750000  2.750000  3.25000
max    4.00000  3.000000  3.000000  4.00000

In [53]:
pd.DataFrame([[1,2,3,4], [4,3,2,1]], index=['xx', 'ss'], columns=['dsadsa', 'fdfd', 'gfgf', 'hghg'])

    dsadsa  fdfd  gfgf  hghg
xx       1     2     3     4
ss       4     3     2     1

In [55]:
df = pd.read_csv('./James.csv')

In [61]:
df.head(6)

    对手 胜负 主客场  命中  投篮数  投篮命中率  3分命中率  篮板  助攻  得分
0   勇士  胜   客  10   23  0.435  0.444   6  11  27
1   国王  胜   客   8   21  0.381  0.286   3   9  27
2   小牛  胜   主  10   19  0.526  0.462   3   7  29
3   灰熊  负   主   8   20  0.400  0.250   5   8  22
4  76人  胜   客  10   20  0.500  0.250   3  13  27
5   黄蜂  胜   客   8   18  0.444  0.400  10  11  27

In [65]:
df.to_csv('./b.csv', index=False)

In [66]:
pd.read_csv('./b.csv')

     对手 胜负 主客场  命中  投篮数  投篮命中率  3分命中率  篮板  助攻  得分
0    勇士  胜   客  10   23  0.435  0.444   6  11  27
1    国王  胜   客   8   21  0.381  0.286   3   9  27
2    小牛  胜   主  10   19  0.526  0.462   3   7  29
3    灰熊  负   主   8   20  0.400  0.250   5   8  22
4   76人  胜   客  10   20  0.500  0.250   3  13  27
5    黄蜂  胜   客   8   18  0.444  0.400  10  11  27
6    灰熊  负   客   6   19  0.316  0.222   4   8  20
7   76人  负   主   8   21  0.381  0.429   4   7  29
8   尼克斯  胜   客   9   23  0.391  0.353   5   9  31
9    老鹰  胜   客   8   15  0.533  0.545   3  11  29
10   爵士  胜   主  19   25  0.760  0.875   2  13  56
11   骑士  胜   主   8   21  0.381  0.429  11  13  35
12   灰熊  胜   主  11   25  0.440  0.429   4   8  38
13  步行者  胜   客   9   21  0.429  0.250   5  15  26
14   猛龙  负   主   8   25  0.320  0.273   6  11  38
15   太阳  胜   客  12   22  0.545  0.545   2   7  48
16   灰熊  胜   客   9   20  0.450  0.500   5   7  29
17   掘金  胜   主   6   16  0.375  0.143   8   9  21
18  尼克斯  胜   主  12   27  0.444  0.385   2  10  37
19   篮网  胜   主  13   20  0.650  0.615  10   8  37
20  步行者  胜   主   8   22  0.364  0.333   8  10  29
21   湖人  胜   客  13   22  0.591  0.444   4   9  36
22   爵士  胜   客   8   19  0.421  0.333   5   3  29
23  开拓者  胜   客  16   29  0.552  0.571   8   3  48
24   鹈鹕  胜   主   8   16  0.500  0.400   1  17  26

In [108]:
df = pd.read_html('https://baike.baidu.com/item/NBA%E6%80%BB%E5%86%A0%E5%86%9B/2173192?fr=aladdin')

In [109]:
chapion_res = df[0]

In [110]:
chapion_res.head()

      0          1          2    3        4     5
0    年份       比赛日期         冠军  总比分       亚军  FMVP
1  1947  4.16-4.22      费城勇士队  4-1   芝加哥牡鹿队   未设立
2  1948  4.10-4.21    巴尔的摩子弹队  4-2    费城勇士队   未设立
3  1949   4.4-4.13  明尼阿波利斯湖人队  4-2   华盛顿国会队   未设立
4  1950   4.8-4.23  明尼阿波利斯湖人队  4-2  塞拉库斯民族队   未设立

In [111]:
chapion_res.values[0]

array(['年份', '比赛日期', '冠军', '总比分', '亚军', 'FMVP'], dtype=object)

In [112]:
chapion_res.head()

      0          1          2    3        4     5
0    年份       比赛日期         冠军  总比分       亚军  FMVP
1  1947  4.16-4.22      费城勇士队  4-1   芝加哥牡鹿队   未设立
2  1948  4.10-4.21    巴尔的摩子弹队  4-2    费城勇士队   未设立
3  1949   4.4-4.13  明尼阿波利斯湖人队  4-2   华盛顿国会队   未设立
4  1950   4.8-4.23  明尼阿波利斯湖人队  4-2  塞拉库斯民族队   未设立

In [114]:
chapion_res.loc[0:3]

      0          1          2    3       4     5
0    年份       比赛日期         冠军  总比分      亚军  FMVP
1  1947  4.16-4.22      费城勇士队  4-1  芝加哥牡鹿队   未设立
2  1948  4.10-4.21    巴尔的摩子弹队  4-2   费城勇士队   未设立
3  1949   4.4-4.13  明尼阿波利斯湖人队  4-2  华盛顿国会队   未设立

In [115]:
chapion_res.iloc[0]

0      年份
1    比赛日期
2      冠军
3     总比分
4      亚军
5    FMVP
Name: 0, dtype: object

In [116]:
chapion_res.head()

      0          1          2    3        4     5
0    年份       比赛日期         冠军  总比分       亚军  FMVP
1  1947  4.16-4.22      费城勇士队  4-1   芝加哥牡鹿队   未设立
2  1948  4.10-4.21    巴尔的摩子弹队  4-2    费城勇士队   未设立
3  1949   4.4-4.13  明尼阿波利斯湖人队  4-2   华盛顿国会队   未设立
4  1950   4.8-4.23  明尼阿波利斯湖人队  4-2  塞拉库斯民族队   未设立

In [134]:
chapion_res.drop?

In [138]:
chapion_res.columns = chapion_res.loc[0]
chapion_res.drop([0], inplace=True)

chapion_res.head()

0    年份       比赛日期         冠军  总比分       亚军 FMVP
1  1947  4.16-4.22      费城勇士队  4-1   芝加哥牡鹿队  未设立
2  1948  4.10-4.21    巴尔的摩子弹队  4-2    费城勇士队  未设立
3  1949   4.4-4.13  明尼阿波利斯湖人队  4-2   华盛顿国会队  未设立
4  1950   4.8-4.23  明尼阿波利斯湖人队  4-2  塞拉库斯民族队  未设立
5  1951   4.7-4.21    皇家罗切斯特队  4-3   纽约尼克斯队  未设立

In [168]:
## group by

In [170]:
chapion_res.groupby('冠军')

In [172]:
chapion_res

0     年份       比赛日期         冠军  总比分         亚军      FMVP
1   1947  4.16-4.22      费城勇士队  4-1     芝加哥牡鹿队       未设立
2   1948  4.10-4.21    巴尔的摩子弹队  4-2      费城勇士队       未设立
3   1949   4.4-4.13  明尼阿波利斯湖人队  4-2     华盛顿国会队       未设立
4   1950   4.8-4.23  明尼阿波利斯湖人队  4-2    塞拉库斯民族队       未设立
5   1951   4.7-4.21    皇家罗切斯特队  4-3     纽约尼克斯队       未设立
6   1952  4.12-4.25  明尼阿波利斯湖人队  4-3     纽约尼克斯队       未设立
7   1953   4.4-4.10  明尼阿波利斯湖人队  4-1     纽约尼克斯队       未设立
8   1954  3.31-4.12  明尼阿波利斯湖人队  4-3    塞拉库斯民族队       未设立
9   1955  3.31-4.10    塞拉库斯民族队  4-3    福特韦恩活塞队       未设立
10  1956   3.31-4.7      费城勇士队  4-1    福特韦恩活塞队       未设立
11  1957  3.30-4.13   波士顿凯尔特人队  4-3    圣路易斯老鹰队       未设立
12  1958  3.29-4.12    圣路易斯老鹰队  4-2   波士顿凯尔特人队       未设立
13  1959    4.4-4.9   波士顿凯尔特人队  4-0  明尼阿波利斯湖人队       未设立
14  1960   3.27-4.9   波士顿凯尔特人队  4-3    圣路易斯老鹰队       未设立
15  1961   4.2-4.11   波士顿凯尔特人队  4-1    圣路易斯老鹰队       未设立
16  1962   4.7-4.18   波士顿凯尔特人队  4-3     洛杉矶湖人队       未设立
17  1963  4.14-4.24   波士顿凯尔特人队  4-2     洛杉矶湖人队       未设立
18  1964  4.18-4.26   波士顿凯尔特人队  4-1     旧金山勇士队       未设立
19  1965  4.18-4.25   波士顿凯尔特人队  4-1     洛杉矶湖人队       未设立
20  1966  4.17-4.28   波士顿凯尔特人队  4-3     洛杉矶湖人队       未设立
21  1967  4.14-4.24     费城76人队  4-2     旧金山勇士队       未设立
22  1968   4.21-5.2   波士顿凯尔特人队  4-2     洛杉矶湖人队       未设立
23  1969   4.23-5.5   波士顿凯尔特人队  4-3     洛杉矶湖人队    杰里·韦斯特
24  1970   4.24-5.8     纽约尼克斯队  4-3     洛杉矶湖人队    威利斯·里德
25  1971  4.21-4.30    密尔沃基雄鹿队  4-0    巴尔的摩子弹队       贾巴尔
26  1972   4.26-5.7     洛杉矶湖人队  4-1     纽约尼克斯队       张伯伦
27  1973   5.1-5.10     纽约尼克斯队  4-1     洛杉矶湖人队    威利斯·里德
28  1974  4.28-5.12   波士顿凯尔特人队  4-3    密尔沃基雄鹿队  约翰·哈夫利切克
29  1975  5.18-5.25      金州勇士队  4-0     华盛顿子弹队     里克·巴里
30  1976   5.23-6.6   波士顿凯尔特人队  4-2    菲尼克斯太阳队    乔·乔·怀特
..   ...        ...        ...  ...        ...       ...
43  1989   6.6-6.13     底特律活塞队  4-0     洛杉矶湖人队     乔·杜马斯
44  1990   6.5-6.14     底特律活塞队  4-1    波特兰开拓者队   伊塞亚·托马斯
45  1991   6.2-6.12     芝加哥公牛队  4-1     洛杉矶湖人队    迈克尔·乔丹
46  1992   6.3-6.14     芝加哥公牛队  4-2    波特兰开拓者队    迈克尔·乔丹
47  1993   6.9-6.20     芝加哥公牛队  4-2    菲尼克斯太阳队    迈克尔·乔丹
48  1994   6.8-6.22     休斯顿火箭队  4-3     纽约尼克斯队  哈基姆·奥拉朱旺
49  1995   6.7-6.14     休斯顿火箭队  4-0     奥兰多魔术队  哈基姆·奥拉朱旺
50  1996   6.5-6.16     芝加哥公牛队  4-2    西雅图超音速队    迈克尔·乔丹
51  1997   6.1-6.13     芝加哥公牛队  4-2      犹他爵士队    迈克尔·乔丹
52  1998   6.3-6.14     芝加哥公牛队  4-2      犹他爵士队    迈克尔·乔丹
53  1999  6.16-6.25   圣安东尼奥马刺队  4-1     纽约尼克斯队     蒂姆·邓肯
54  2000   6.7-6.19     洛杉矶湖人队  4-2   印第安纳步行者队   沙奎尔·奥尼尔
55  2001   6.6-6.15     洛杉矶湖人队  4-1     费城76人队   沙奎尔·奥尼尔
56  2002   6.5-6.12     洛杉矶湖人队  4-0      新泽西网队   沙奎尔·奥尼尔
57  2003   6.5-6.16   圣安东尼奥马刺队  4-2      新泽西网队     蒂姆·邓肯
58  2004   6.7-6.16     底特律活塞队  4-1     洛杉矶湖人队   昌西·比卢普斯
59  2005  6.10-6.24   圣安东尼奥马刺队  4-3     底特律活塞队     蒂姆·邓肯
60  2006   6.9-6.21     迈阿密热火队  4-2     达拉斯小牛队    德怀恩·韦德
61  2007   6.8-6.15   圣安东尼奥马刺队  4-0    克里夫兰骑士队     托尼·帕克
62  2008   6.6-6.18   波士顿凯尔特人队  4-2     洛杉矶湖人队    保罗·皮尔斯
63  2009   6.5-6.15     洛杉矶湖人队  4-1     奥兰多魔术队   科比·布莱恩特
64  2010   6.4-6.18     洛杉矶湖人队  4-3   波士顿凯尔特人队   科比·布莱恩特
65  2011   6.1-6.13     达拉斯小牛队  4-2     迈阿密热火队   德克·诺维茨基
66  2012  6.13-6.22     迈阿密热火队  4-1  俄克拉荷马城雷霆队   勒布朗·詹姆斯
67  2013   6.7-6.21     迈阿密热火队  4-3   圣安东尼奥马刺队   勒布朗·詹姆斯
68  2014   6.6-6.16   圣安东尼奥马刺队  4-1     迈阿密热火队    科怀·伦纳德
69  2015   6.5-6.17      金州勇士队  4-2    克里夫兰骑士队  安德烈·伊戈达拉
70  2016   6.3-6.20    克里夫兰骑士队  4-3      金州勇士队   勒布朗·詹姆斯
71  2017   6.2-6.13      金州勇士队  4-1    克利夫兰骑士队    凯文·杜兰特
72  2018    6.1-6.9      金州勇士队  4-0    克利夫兰骑士队    凯文·杜兰特

[72 rows x 6 columns]

In [171]:
chapion_res.groupby('冠军').groups

{'休斯顿火箭队': Int64Index([48, 49], dtype='int64'),
 '克里夫兰骑士队': Int64Index([70], dtype='int64'),
 '华盛顿子弹队': Int64Index([32], dtype='int64'),
 '圣安东尼奥马刺队': Int64Index([53, 57, 59, 61, 68], dtype='int64'),
 '圣路易斯老鹰队': Int64Index([12], dtype='int64'),
 '塞拉库斯民族队': Int64Index([9], dtype='int64'),
 '密尔沃基雄鹿队': Int64Index([25], dtype='int64'),
 '巴尔的摩子弹队': Int64Index([2], dtype='int64'),
 '底特律活塞队': Int64Index([43, 44, 58], dtype='int64'),
 '明尼阿波利斯湖人队': Int64Index([3, 4, 6, 7, 8], dtype='int64'),
 '波士顿凯尔特人队': Int64Index([11, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 28, 30, 35, 38, 40,
             62],
            dtype='int64'),
 '波特兰开拓者队': Int64Index([31], dtype='int64'),
 '洛杉矶湖人队': Int64Index([26, 34, 36, 39, 41, 42, 54, 55, 56, 63, 64], dtype='int64'),
 '皇家罗切斯特队': Int64Index([5], dtype='int64'),
 '纽约尼克斯队': Int64Index([24, 27], dtype='int64'),
 '芝加哥公牛队': Int64Index([45, 46, 47, 50, 51, 52], dtype='int64'),
 '西雅图超音速队': Int64Index([33], dtype='int64'),
 '费城76人队': Int64Index([21, 37], dtype='int64'),
 '费城勇士队': Int64Index([1, 10], dtype='int64'),
 '达拉斯小牛队': Int64Index([65], dtype='int64'),
 '迈阿密热火队': Int64Index([60, 66, 67], dtype='int64'),
 '金州勇士队': Int64Index([29, 69, 71, 72], dtype='int64')}

In [174]:
chapion_res.groupby('冠军').size().sort_values(ascending=False)

冠军
波士顿凯尔特人队     17
洛杉矶湖人队       11
芝加哥公牛队        6
圣安东尼奥马刺队      5
明尼阿波利斯湖人队     5
金州勇士队         4
迈阿密热火队        3
底特律活塞队        3
纽约尼克斯队        2
费城76人队        2
费城勇士队         2
休斯顿火箭队        2
西雅图超音速队       1
皇家罗切斯特队       1
波特兰开拓者队       1
巴尔的摩子弹队       1
密尔沃基雄鹿队       1
塞拉库斯民族队       1
圣路易斯老鹰队       1
达拉斯小牛队        1
华盛顿子弹队        1
克里夫兰骑士队       1
dtype: int64

In [178]:
df.agg?

In [180]:
chapion_res.groupby('冠军').agg('size')

冠军
休斯顿火箭队        2
克里夫兰骑士队       1
华盛顿子弹队        1
圣安东尼奥马刺队      5
圣路易斯老鹰队       1
塞拉库斯民族队       1
密尔沃基雄鹿队       1
巴尔的摩子弹队       1
底特律活塞队        3
明尼阿波利斯湖人队     5
波士顿凯尔特人队     17
波特兰开拓者队       1
洛杉矶湖人队       11
皇家罗切斯特队       1
纽约尼克斯队        2
芝加哥公牛队        6
西雅图超音速队       1
费城76人队        2
费城勇士队         2
达拉斯小牛队        1
迈阿密热火队        3
金州勇士队         4
dtype: int64

In [189]:
chapion_res['冠军'].value_counts()

波士顿凯尔特人队     17
洛杉矶湖人队       11
芝加哥公牛队        6
明尼阿波利斯湖人队     5
圣安东尼奥马刺队      5
金州勇士队         4
迈阿密热火队        3
底特律活塞队        3
费城76人队        2
纽约尼克斯队        2
休斯顿火箭队        2
费城勇士队         2
密尔沃基雄鹿队       1
达拉斯小牛队        1
塞拉库斯民族队       1
圣路易斯老鹰队       1
西雅图超音速队       1
巴尔的摩子弹队       1
克里夫兰骑士队       1
波特兰开拓者队       1
皇家罗切斯特队       1
华盛顿子弹队        1
Name: 冠军, dtype: int64

In [194]:
chapion_res.groupby(['冠军', 'FMVP']).agg('size').sort_values(ascending=False)

冠军         FMVP
波士顿凯尔特人队   未设立           10
芝加哥公牛队     迈克尔·乔丹         6
明尼阿波利斯湖人队  未设立            5
圣安东尼奥马刺队   蒂姆·邓肯          3
洛杉矶湖人队     埃尔文·约翰逊        3
           沙奎尔·奥尼尔        3
波士顿凯尔特人队   拉里·伯德          2
洛杉矶湖人队     科比·布莱恩特        2
纽约尼克斯队     威利斯·里德         2
休斯顿火箭队     哈基姆·奥拉朱旺       2
费城勇士队      未设立            2
迈阿密热火队     勒布朗·詹姆斯        2
金州勇士队      凯文·杜兰特         2
圣安东尼奥马刺队   科怀·伦纳德         1
           托尼·帕克          1
波士顿凯尔特人队   乔·乔·怀特         1
塞拉库斯民族队    未设立            1
密尔沃基雄鹿队    贾巴尔            1
华盛顿子弹队     韦斯·昂塞尔德        1
巴尔的摩子弹队    未设立            1
底特律活塞队     乔·杜马斯          1
           伊塞亚·托马斯        1
           昌西·比卢普斯        1
克里夫兰骑士队    勒布朗·詹姆斯        1
圣路易斯老鹰队    未设立            1
金州勇士队      里克·巴里          1
波士顿凯尔特人队   保罗·皮尔斯         1
           塞德里克·麦克斯维尔     1
           杰里·韦斯特         1
金州勇士队      安德烈·伊戈达拉       1
波特兰开拓者队    比尔·沃顿          1
洛杉矶湖人队     张伯伦            1
           詹姆斯·沃西         1
           贾巴尔            1
皇家罗切斯特队    未设立            1
西雅图超音速队    丹尼斯·约翰逊        1
费城76人队     摩西·马龙          1
           未设立            1
达拉斯小牛队     德克·诺维茨基        1
迈阿密热火队     德怀恩·韦德         1
波士顿凯尔特人队   约翰·哈夫利切克       1
dtype: int64